/* 
Copyright 2013 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.

ediarum.BASE is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE. If not, see <http://www.gnu.org/licenses/>.
*/

/* CSS */

/* ############### Allgemein ############### */

registerliste {
}

comment {
    background-color: red;
    color: white;
}

markierung[farbe="rot"] {
    color: red;
}

markierung[farbe="gelb"] {
    background-color: yellow;
}

/* White-Space handling nötig, weil markierung nicht im Schema enthalten */
person markierung,
ort markierung {
    display: block;
    white-space: nowrap;
}

ort markierung beschreibung,
ort markierung beschreibung markierung,
person markierung aussage,
person markierung aussage markierung {
    white-space: normal;
}

ort markierung beschreibung markierung,
person markierung aussage markierung,
person name markierung,
person vorname markierung, 
person lebensdaten markierung,
person aussage markierung {
    display: inline;
}
/* Ende white-space handling */

familie,
gruppe, 
werk werk {
    display: block;
    background-color: #e0e0e0;
}

person, 
werk, 
ort {
    display: block;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid silver;
}

/* Ausnahme für Orte eines Ortes*/
gruppe ort {
    padding: 0.1em;
    border-bottom: none;
}

/* ############# Personen ############## */

person lebensdaten,
person aussage {
    display: block;    
}

person werk {
    display: block;
    margin: 0 0 0 1em;
}

person werk titel {
    font-style: italic;
}

person name {
    font-weight: bold;
}

person rufname {
    text-decoration: underline;
}

person aussage ort,
person aussage link,
person aussage werk {
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
}

link {
    color: #3B68DB;
}

link[id],
autor[id] {
    color: #3B68DB;
    text-decoration: underline;
    -oxy-display-tags: none;
}

link[id]:after, 
autor[id]:after {
    content: " " url('gfx/link_register.png');
    text-decoration: none;
}

link[id^="#o"]:after {
    link: "http://bot2:d1cbSOgDTdwewDE0@telotadev.bbaw.de:9011/exist/rest/db/apps/ediarum/data_copy/orte_copy.xml" attr(id);
}

link[id^="#p"]:after {
    link: "http://bot2:d1cbSOgDTdwewDE0@telotadev.bbaw.de:9011/exist/rest/db/apps/ediarum/data_copy/personen_copy.xml" attr(id);
}

link[id^="#w"]:after {
    link: "http://bot2:d1cbSOgDTdwewDE0@telotadev.bbaw.de:9011/exist/rest/db/apps/ediarum/data_copy/werke_copy.xml" attr(id);
}

autor[id]:after {
    link: "http://bot2:d1cbSOgDTdwewDE0@telotadev.bbaw.de:9011/exist/rest/db/apps/ediarum/data_copy/personen_copy.xml" attr(id);
}

/* ############### Orte ############### */

gruppe {
    margin-bottom: 1em;
    border-bottom: 1px solid silver;
}

gruppe ort {
    margin: 0 0 0 2em;
}

gruppe ort[type="grname"] {
    margin: 0;
}

ort ortsname,
gruppe ort[type="grname"] ortsname {
    display: block;
    font-weight: bold;
}

gruppe ort ortsname {
    font-weight: normal;
    -oxy-display-tags: none;
}

gruppe ort zugehörigkeit,
gruppe ort beschreibung,
gruppe ort ortsname {
    display: inline;
}

ort beschreibung {
    display: block;
    -oxy-display-tags: none;
}

ort zugehörigkeit {
    display: block;
    -oxy-display-tags: none;
}

/* ############### Werke ############### */

werk titel {
    font-style: italic;
    -oxy-display-tags: none;
}

werk autor {
    display: block;
}

gruppe werk,
werk werk {
    margin: 0 0 0 2em;
}

werk[separate="true"] titel:after {
    content: " " url('gfx/werk_separate.png');
}
