/* 
Copyright 2013 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.

ediarum.BASE is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE. If not, see <http://www.gnu.org/licenses/>.
*/

/* CSS um Bearbeitungen in Dateien, die nur gelesen werden sollen zu verhindern */

@import url('fs_register.css');

registerliste {
    -oxy-editable: false;
    border-left: 10px solid red;
    background-image: url(gfx/bg_readonly.png);
    background-repeat: repeat-y;
}

registerliste person,
registerliste ort,
registerliste werk {
    border-left: 5px solid white;
}