/* 
Copyright 2012-2018 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.

ediarum.BASE is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE. If not, see <http://www.gnu.org/licenses/>.
*/


/* Anpassungen für ediarum.INTRO */

/* #####################
 * ##### teiHeader #####
 * ##################### */
 
@namespace oxy "http://www.oxygenxml.com/extensions/author";

oxy|comment{
    visibility:-oxy-collapse-text;
    -oxy-display-tags: none;
}

title[type='main']{
    -oxy-placeholder-content: "Titel eintragen";
   -oxy-show-placeholder: always;
    
}

title[type='sub']{
   font-size: 1.3em;
   -oxy-placeholder-content: "Untertitel eintragen";
   -oxy-show-placeholder: always;
}

title:after{
    content: "\A"
}
author{
     -oxy-display-tags: none;
     display: block;
     margin:0 0 0.5em 0;
}

affiliation,
email,
note{
    -oxy-display-tags: none;
}

author affiliation:before{
    content: "(";
}
author affiliation:after{
    content: ")";
}

author email:before,
author note:before{
    content: "\A";
    /*display: block;*/
}

author email,
author note{
    margin-left: 10px;
}

author affiliation{
    -oxy-placeholder-content: "Zugehörigkeit";
    -oxy-show-placeholder: always;
}

author email{
    -oxy-placeholder-content: "E-Mail";
    -oxy-show-placeholder: always;
}

author note{
    -oxy-placeholder-content: "weitere Informationen";
    -oxy-show-placeholder: always;
}


editionStmt {
    display:block;
    -oxy-display-tags: none;
}

edition{
    -oxy-display-tags: none;
}

edition title[type='main']{
    -oxy-placeholder-content: "Editionstitel eingeben";
    -oxy-show-placeholder: always;
    -oxy-display-tags: none;
}
edition title[type='sub']{
    font-size:small;
    -oxy-placeholder-content: "Untertitel der Edition eingeben";
    -oxy-show-placeholder: always;
    -oxy-display-tags: none;
}

publicationStmt {
    display:block;
    -oxy-display-tags: none;
    margin: 1em 0 1em 0;
}

publisher {
    -oxy-display-tags: none;
    -oxy-placeholder-content: "Herausgebende Institution eintragen";
    -oxy-show-placeholder: always;
}

publisher ref{
    -oxy-display-tags: none;
}

pubPlace {
    -oxy-placeholder-content: "Erscheinungsort eintragen";
    -oxy-show-placeholder: always;
    -oxy-display-tags: none;
}

publicationStmt pubPlace:before{
    content: ", "
}

availability,
licence{
    -oxy-display-tags: none;
    display: block;
}

licence:before{
    content: "Lizenz: "
}

/* ################
 * ##### TEXT #####
 * ################ */


text p[n]:before{
    content:"(" attr(n) ") ";
    color:gray;
    }

text note[n]:before{
    content:"(" attr(n) ") ";
    color:gray;
    position: relative; 
    top: -0.5em;
    font-size: 0.8em;
    -oxy-display-tags: none;
}

text sic{
    -oxy-display-tags: none;
}
text sic:after{
    content:" [sic!]"
}

name{
    background-color: #f3fccc;
    -oxy-display-tags: none;
}

/* #########################
 * ##### ÜBERSCHRIFTEN #####
 * ######################### */

/* h1 */
text div head,
text div[type='chapter'] head{
    -oxy-placeholder-content: "Überschrift (≙ Ebene h1)";
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
}

/* h2 */
text div > div head,
text div[type='chapter'] div[type='subchapter'] head{
    -oxy-placeholder-content: "Überschrift (≙ Ebene h2)";
    font-size: 1.3em;
    font-weight: bold;
}

/* h3 */
text div > div > div head,
text div[type='chapter'] div[type='subchapter'] div[type='subchapter'] head{
    -oxy-placeholder-content: "Überschrift ≙ Ebene h3";
    font-size: 1.1em;
    text-decoration:underline;
}

/* h4 */
text div > div > div > div head,
text div[type='chapter'] div[type='subchapter'] div[type='subchapter'] div[type='subchapter'] head {
    -oxy-placeholder-content: "Überschrift (≙ Ebene h4)";
    font-size: 1.1em;
    font-style: italic;
}

/* h5 */
text div > div > div > div > div head,
text div[type='chapter'] div[type='subchapter'] div[type='subchapter'] div[type='subchapter'] div[type='subchapter'] head {
    -oxy-placeholder-content: "Überschrift (≙ Ebene h5)";
    font-size: 1em;
    font-style:italic
}

/* h6 */
text div > div > div > div > div > div head,
text div[type='chapter'] div[type='subchapter'] div[type='subchapter'] div[type='subchapter'] div[type='subchapter'] div[type='subchapter'] head {
    -oxy-placeholder-content: "Überschrift (≙ Ebene h6)";
    font-size: 1em;
    font-style:italic;
    text-decoration: underline;
}

/* ##################
 * ##### LISTEN #####
 * ################## */
text list,
text list item {
    display: block;
    -oxy-display-tags: none;
    font-family:arial, helvetica, sans-serif;
}

text list item {
    display: list-item;
    -oxy-display-tags: none;
}

text list[rendition='bulleted']{
    list-style-type:disc;
}

text list[rendition='ordered']{
    list-style-type:circle;
}

text list[rendition='ordered decimal']{
    list-style-type:decimal;
}
text list[rendition='ordered_num']{
    list-style-type:decimal;
}

text list[rendition='ordered upper-roman']{
    list-style-type:upper-roman;
}

text list[rendition='ordered lower-latin']{
    list-style-type:lower-latin;
}

text list[rendition='ordered upper-latin']{
    list-style-type:upper-latin;
}

text list[rendition='ordered lower-roman']{
    list-style-type:lower-roman;
}

text list[rendition='none']{
    list-style-type:none;
}

text list {
    margin: 1em 0 0 2em;
}

/* ##################
 * ##### ZITATE #####
 * ################## */

quote[rendition]{
    font-family: BBAWfont;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
}

quote[rendition='introQuote']{
    display: block;
    margin:0.5em 10em 0.5em 1.5em;
    -oxy-placeholder-content: "Einführungszitat";
}

quote[rendition='inline']{
    font-style: italic;
    -oxy-placeholder-content: "Inline-Zitat";
    background-color:#F4E4BC;
}

quote[rendition='block']{
    display: block;
    margin:0.5em 10em 0.5em 5em;
    -oxy-placeholder-content: "Blockzitat";
}

quote hi[rendition="#i"]{
    font-style: normal;
    -oxy-display-tags: none;
}

text ref[target]:after,
note ref[target]:after {
content: " " url(gfx/link.png) ;
link: attr(target)!important; 
}

/* Falls ein Platzhalter doch noch benötigt wird 
text ref[target],
note ref[target]{
    -oxy-placeholder-content:"[Platzhalter: Link auf externe Webseite]";
    -oxy-show-placeholder : always ;
}*/

quote hi[rendition="#b"],
text hi[rendition="#b"] {
    font-weight: bold;
    -oxy-display-tags: none;
}


