/* 
Copyright 2011-2018 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.edit.edit.

ediarum.BASE.edit is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE.edit is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE.edit. If not, see <http://www.gnu.org/licenses/>.
*/

@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace telota "http://www.telota.de";

@font-face{
    font-family: "BBAWfont";
    src:url("../fonts/linlibertine_r.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BBAWfont-italic";
    src:url("../fonts/linlibertine_ri.ttf");
    font-weight: normal;
}

@font-face{
    font-family: "Biolinum";
    src: url("../fonts/linbiolinum_r.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Biolinum-italic";
    src: url("../fonts/linbiolinum_ri.ttf");
    font-weight: normal;
}

TEI {
    padding: 1em;
    font-family: BBAWfont;
}

/* falls Lesekopie geöffnet beim Verweisprüfen */
TEI[telota|copy] {
    -oxy-editable: false;
    background-color: #E6EFF2;
    background-image: url('gfx/bg_readonly.png');
}

/* ################ teiHeader ############ */

teiHeader {
    padding: 0 0 1em 0;
    border-bottom: 1px #000000 solid;
    font-family: "BBAWfont-italic";

}

titleStmt {
    display: block;
    margin: 0 0 1em 0;
}

titleStmt title {
    -oxy-placeholder-content: "Titel";
    -oxy-display-tags: none;
    font-size: 1.5em;
}

titleStmt title idno {
    padding: 0 0.5em 0 0;
    -oxy-placeholder-content: "Briefnummer";
    -oxy-display-tags: none;
}

titleStmt title idno:after {
    content: ".";
} 

titleStmt editor,
titleStmt respStmt {
    display: block;
    font-size: 0.8em;
}

editor:after {
    content: "(Herausgeber)";
}

respStmt resp,
respStmt resp note {
    -oxy-display-tags: none;
}

respStmt note:before {
    content: "(";
}

respStmt note:after {
    content: ")";
}

titleStmt persName surname,
titleStmt persName forename {
    -oxy-display-tags: none;
}

titleStmt surname:after {
    content:",";
}

editionStmt {
    display: none;
}

publicationStmt {
    display: none;
}

sourceDesc,
msIdentifier {
    -oxy-display-tags: none;
}

sourceDesc:before {
    display: block;
}

sourceDesc msDesc {
    display: block;
    content: "Handschrift: ";
}

sourceDesc msDesc * {
    -oxy-display-tags: none;
}

sourceDesc msDesc institution:after,
sourceDesc msDesc repository:after,
sourceDesc msDesc collection:after{
    content: " / ";
}

sourceDesc msDesc[rend="copy"] {
    content: "Abschrift: ";
}

sourceDesc msDesc[rend="concept"] {
    content: "Entwurf: ";
}

sourceDesc msDesc[rend="print-as-print"] {
    content: "Druck (als solcher): ";
}

sourceDesc msDesc[rend="notExtant"] {
    content: "Erschlossen";
}

sourceDesc msDesc[rend="print"] {
    content: "Nur Druckzeuge vorhanden.";
}

sourceDesc msDesc idno {
    -oxy-placeholder-content: "Signatur";
}

sourceDesc msDesc idno[type='uri']:before {
    content: "\A URI: ";
}

sourceDesc msDesc physDesc p {
    display: block;
    -oxy-placeholder-content: "[Hier Papier, Format etc. eintragen]";
}

sourceDesc msDesc physDesc:before {
    content: "Handschriftenbeschreibung: ";
    font-style: normal;
    font-weight: bold;
}

sourceDesc listWit witness {
    display: block;
}

sourceDesc witness msDesc[type='concept'] {
    content: "Entwurf: ";
}

sourceDesc witness msDesc[type='copy'] {
    content: "Abschrift: ";
}

sourceDesc witness>bibl {
    content: "D: ";
    -oxy-display-tags: none;
}

sourceDesc witness:nth-child(2)>bibl {
    content: "D2: ";
}

sourceDesc witness:nth-child(3)>bibl {
    content: "D3: ";
}

sourceDesc witness:nth-child(4)>bibl {
    content: "D4: ";
}

sourceDesc witness:nth-child(5)>bibl {
    content: "D5: ";
}

sourceDesc witness:nth-child(6)>bibl {
    content: "D6: ";
}

sourceDesc witness:nth-child(7)>bibl {
    content: "D7: ";
}

sourceDesc witness:nth-child(8)>bibl {
    content: "D8: ";
}

sourceDesc witness:nth-child(9)>bibl {
    content: "D9: ";
}

sourceDesc witness[select='#this'] {
    font-weight: bold;
}


/* TEXTZEUGEN METADATEN */
listWit[n='textWitnesses']{
    -oxy-foldable: true;
    -oxy-folded: true;
    margin-top: 1em;
}

listWit[n='textWitnesses']:before{
    content: "Liste der Textzeugen";
}

listWit[n='textWitnesses'] listWit head,
listWit[n='textWitnesses'] listWit head title,
listWit[n='textWitnesses'] listWit witness,
listWit[n='textWitnesses'] title,
listWit[n='textWitnesses'] idno{
    -oxy-display-tags: none;
}

listWit[n='textWitnesses'] witness:first-child{
    margin-top: 0.5em;
}

/* #NA: nochmal anschauen
 * listWit[n='textWitnesses']:nth-child(2)>listWit[xml|id] {
    content: "TZG-2: ";
}*/


listWit[n='textWitnesses'] listWit:before{
    content: "\A Textzeugengruppe: ";
    display:block;
}

listWit[n='textWitnesses'] listWit witness{
    display:inline-block;
    margin-top: 15em;
}

listWit[n='textWitnesses'] listWit head:after{
    content: " --- "
}

listWit[n='textWitnesses'] listWit witness:after{
    content: ", ";
}

listWit[n='textWitnesses'] listWit witness:last-child:after{
    content: ".";
}

listWit[n='textWitnesses'] title{
    -oxy-placeholder-content:"kein Titel vergeben";
}

listWit[n='textWitnesses'] idno:before{
    content: " (Sigle: ";
}

listWit[n='textWitnesses'] idno:after{
    content: ")";
}



listWit[n='textWitnesses'] listWit witness{
    content: oxy_xpath(oxy_concat("string-join(//listWit[@n='textWitnesses']/witness[contains('",attr("sameAs"),"',@xml:id)]/idno[@type='siglum']/string(), ' ')")) " ";
}

/* Creation */

text {
    border-top: 1px solid silver;
}

profileDesc creation:empty {
    -oxy-placeholder-content: '[Angaben zur Erstellung des Manuskripts über Menü "Allgemein" angeben]'; 
    display: block;
} 


profileDesc creation date {
    display: block;
}

profileDesc creation persName,
profileDesc creation placeName,
profileDesc correspAction persName,
profileDesc correspAction placeName {
    display: block;
    -oxy-editable: false;
}

profileDesc creation date:before {
    content: "Datum: "
}

correspDesc date[when],
profileDesc creation date[when] {
    content: oxy_editor(type,datePicker,edit,'@when',format,'yyyy-MM-dd');
    -oxy-display-tags: none;
}

correspDesc date[from],
profileDesc creation date[from] {
    content: oxy_editor(type,datePicker,edit,'@from',format,'yyyy-MM-dd') " bis " oxy_editor(type,datePicker,edit,'@to',format,'yyyy-MM-dd');
    -oxy-display-tags: none;
}

correspDesc date[notBefore],
profileDesc creation date[notBefore] {
    content: "Nicht vor" oxy_editor(type,datePicker,edit,'@notBefore',format,'yyyy-MM-dd') " und nicht nach " oxy_editor(type,datePicker,edit,'@notAfter',format,'yyyy-MM-dd');
    -oxy-display-tags: none;    
}


profileDesc creation persName:before {
    content: "Ersteller: ";
}

profileDesc creation placeName:before {
    content: "Erstellungsort: ";
}

profileDesc creation persName:after,
profileDesc creation placeName:after {
    content: url('gfx/link.png');
}

/* Abstract (Regest) */
physDesc,
creation,
correspDesc,
profileDesc abstract,
correspDesc note,
profileDesc textClass {
    display: block;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid silver;
}

profileDesc abstract:before {
    display: block;
    content: "Regest: ";
    font-weight: bold;
}

profileDesc abstract p {
    display: block;
    -oxy-placeholder-content: "[Regest hier eingeben]"
}


note quote,
abstract quote {
    font-family: BBAWfont;
    -oxy-display-tags: none;
}

note quote:before,
abstract quote:before {
    content: "„";
}

note quote:after,
abstract quote:after {
    content: "“";
}

/* Anmerkungen zum Text */
notesStmt note:before {
    content: "Anmerkungen zum Text";
    font-weight: bold;
}

notesStmt note p {
    display: block;
    -oxy-placeholder-content: "[Text hier eingeben]";
}

notesStmt {
    display: block;
    margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;   
}

/* correspondence description */

correspAction[type="sent"] {
    display: block;
    -oxy-placeholder-content: '[Absenderangaben über Menü "Briefmetadaten" eintragen]';
}

correspAction[type="received"] {
    display: block;
    -oxy-placeholder-content: '[Empfängerangaben über Menü "Briefmetadaten" eintragen]';
}


correspAction[type='sent'] persName:before {
    content: "Absender: ";
}

correspAction[type='received'] persName:before {
    content: "Empfänger: ";
}

correspAction[type='sent'] placeName:before {
    content: "Schreibort: ";
}

correspAction[type='received'] placeName:before {
    content: "Empfangsort: ";
}

correspAction[type='sent'] date:before {
    content: "Schreibdatum: ";
}

correspAction[type='received'] date:before {
    content: "Empfangsdatum: ";
}

correspContext ref {
    display: block;
}

correspContext ref[target] {
    color: #465E7A;
}


correspContext ref[type="prev"][target] {
    content: "Vorangehender Brief";
}

correspContext ref[type="next"][target] {
    content: "Nachfolgender Brief";
}

correspContext ref[type="prev"],
correspContext ref[type="prev"][target^="http://"] {
    content: "Vorangehender Brief: ";
}

correspContext ref[type="next"],
correspContext ref[type="next"][target^="http://"] {
    content: "Nachfolgender Brief: ";
}

correspContext ref[target]:after {
    content: " " url('gfx/link.png');
    link: oxy_url('${ediarum_website_base}', '${ediarum_website_path}${ediarum_website_letter}') "?id=" attr(target);
}

correspContext ref[target^="http://"]:after {
    content: " " url('gfx/link.png');
    link: attr(target);
}

/* Anmerkungen zum Brief */
correspDesc note:before:first-of-type {
    display: block;
    content: "Anmerkungen zum Brief:";
    font-weight: bold;
}

correspDesc note {
    display: block;
    -oxy-placeholder-content: "[Hier Anmerkungen zum Brief oder zur Datierung eingeben]";
    -oxy-show-placeholder: always;
}

correspDesc note:not(:first-of-type) {
    border: 0;
    margin: 0;
    padding: 0;
}

msDesc[rend="notExtant"] msIdentifier {
    display: none;
}

text body div[type="regestOnly"] {
    display: block;
    -oxy-editable: false;
    content: "[Kein Text, nur Regest möglich]";
}

/* ############## text ################# */

/* text structure */

text body {
    position: relative;
    display: block;
}

text head {
    display: block;
    margin: 0 0 1em 0;
}

text head[type="h1"] {
    font-size: 1.4em;
    font-weight: bold;
}

text head[type="h2"] {
    font-size: 1.2em;
    font-weight: bold;
}

text head[type="h3"] {
    font-size: 1.2em;
}

text p, 
text lg[type="verse"] {
    display: block;
    margin: 0 0 1em 0;
}

text p[rend="align(center)"]{
    text-align: center;
}

text p[rendition="#mMM"] {
    border-left: 3px solid black;
    padding-left: 0.5em;
}

text p[rendition="#et"], text list[rendition="#et"] {
    padding-left: 3em;
}

text lb {
    display: inline;
    -oxy-display-tags: none;            
}

text lb:before {
    content: "\A";
    white-space: pre-line;
}

text g[ref="#typoHyphen"] {
    content: "-";
    -oxy-display-tags: none;
}

/* see <br> in http://www.w3.org/TR/CSS2/sample.html */

text lg lg,
text lg lg l {
    display: block;
}

text list,
text list item {
    display: block;
    -oxy-display-tags: none;
}

text list {
    margin: 1em 0 0 1em;    
}

text space {
    content: "   ";
    border-bottom: 1px dotted gray;
    -oxy-display-tags: none;
}

text pb,
text cb {
    content: "|";
    padding: 0;
    color: black;
    -oxy-display-tags: none;
}

text cb {
    content: "||";
}

text pb[n]:after,
text cb[n]:after {
    content: "(" attr(n) ")";
    font-family: "BBAWfont-italic";
    color: gray;
}

text pb[facs]:after {
    content: "(folio)";
    font-family: "BBAWfont-italic";
}

text pb[n][facs]:after {
    content: "(" attr(n) ")";
    font-family: "BBAWfont-italic";
}

text pb[facs]:after {
    link: url(attr(facs));
    color: #6998BC;
}

fw {
    font-style: italic;
    color: gray;
    -oxy-display-tags: none; 
}

fw:before {
    font-style: normal;
    content: "|("
}

fw:after {
    font-style: normal;
    content: ")"
}

text figure {
    display: block;
    margin: 0 0 0 2em;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Zeichnung o.ä.]";
}

text figure[facs] {
    content: url(oxy_base-uri()'${ediarum_projects_directory}${ediarum_project_name}/data/${ediarum_image_directory}/' attr(facs));
    width: 250px;
}

text figure head {
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Überschrift der Abbildung]";
}

text figure figDesc {
    display: block;
    font-style: italic;
    -oxy-placeholder-content: "[Bildbeschreibung durch den Bearbeiter]"
}

text figure p {
    -oxy-placeholder-content: "[Bildunterschrift des Autors]"
}

text figure note {
    display: block;
    font-style: italic;
    -oxy-placeholder-content: "[Sacherläuterung zur Zeichnung bzw. Abbildung]"
}

/*  graphic DEPRECATED */
text graphic {
    content: oxy_url(attr(url));
    width: 300px;
    -oxy-display-tags: none;
}

text note {
    background-color: #e0e0e0;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Anmerkung eingeben]";
    -oxy-show-placeholder: always;
}



text note[hand='#author']:after,
text note[hand='#addressee']:after {
    content: none;
    link: none;
}

text note:has(p) {
    display: block;
    margin-left: 1em;
}

text note p { 
    display: block;
}

text metamark,
text metamark {
    content: "\23A1";
    -oxy-display-tags: none;
}

metamark[function="used"] {
    content: url('gfx/metamark_used_start.png');
    -oxy-display-tags: none;
}

anchor[type="used"] {
    content: url('gfx/metamark_used_stop.png');
    -oxy-display-tags: none;
}

milestone {
    margin-left: 50%;
    content: "―";
    -oxy-display-tags: none;
}

/* Correspondence */
dateline {
    display: block;
    -oxy-placeholder-content: "[Datumszeile]";
}

opener dateline {
    text-align: right;
}

opener salute {
    display: block;
    -oxy-placeholder-content: "[Anrede]";
}

closer salute {
    display: block;
    -oxy-placeholder-content: "[Gruß]";
}

signed {
    display: block;
    -oxy-placeholder-content: "[Unterschrift]";
}

/* Tables  */

text table {
  display: table;
  margin: 1em 0 1em 0;
}
text table > head{
    display:table-caption;
    font-family: "BBAWfont-italic";
    margin-bottom: 6pt;
}

text row {
  display: table-row;
}
text row[role='label'] {
   color: inherit;
   background-color: #aaa;
   font-weight: bold;
}

text cell {
  display: table-cell;
  border: 1px dashed silver;
  padding: 3px;
  color: inherit;
  background-color:inherit;
}

text table[rend='drawn'] cell {
    border: 1px solid silver;
}

text cell[rendition='#right'] {
    text-align: right;
}

text cell[rendition='#c'] {
    text-align: center;
}

text cell[role='label'] {
   color: inherit;
   background-color: #bbb;
}

/* Authors editing */

quote subst,
text subst {
    -oxy-display-tags: none;
}

quote del,
text del {
    color: red;
    background-color: white;
    text-decoration: line-through;
    -oxy-display-tags: none;
}

quote add,
text add {
    color: green;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Hinzufügung]"
}

quote hi[rendition="#u"],
text hi[rendition="#u"] {
    text-decoration: underline;
    -oxy-display-tags: none;
}

quote hi[rendition="#uu"],
text hi[rendition="#uu"] {
    border-bottom: 1px solid #000;
    text-decoration:underline;
    -oxy-display-tags: none;
}

quote del hi[rendition="#u"],
text del hi[rendition="#u"],
quote hi[rendition="#u"] del,
text hi[rendition="#u"] del,
quote del hi[rendition="#uu"],
text del hi[rendition="#uu"],
quote hi[rendition="#uu"] del,
text hi[rendition="#uu"] del {
    text-decoration: line-through underline;
}

text hi[rendition="#mMM"] {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    -oxy-display-tags: none;
}

hi[rendition="#sup"],
g[rendition="#sup"] {
    position: relative; 
    top: -0.5em;
    font-size: 0.7em;
    -oxy-display-tags: none;
}

quote hi[rendition="#i"],
text hi[rendition="#i"] {
    font-style: italic;
    -oxy-display-tags: none;
}

quote hi[rendition="#g"],
text hi[rendition="#g"] {
    letter-spacing:0.125em;
    -oxy-display-tags: none;
}

head[rendition='#c'] {
    text-align: center;
}

/* Publishers editing */
quote supplied,
text supplied {
    font-family: "BBAWfont-italic";
    background-color: #e0e0e0;
    -oxy-display-tags: none;    
}

quote supplied:before,
text supplied:before  {
    content: "[";
    font-style: normal;
}

quote supplied:after,
text supplied:after {
    content: "]";
    font-style: normal;
}


text supplied[cert="low"]:before {
    content: "zu ergänzen wohl [";
    font-family: "BBAWfont-italic";
    color: gray;
}

quote surplus,
text surplus {
    text-decoration: line-through;
    color: #395B8C;
}

quote choice,
text choice {
    -oxy-display-tags: none;
}

quote choice sic,
quote choice orig,
text choice sic,
text choice orig,
quote choice abbr,
text choice abbr {
    background-color: #FFDDDD;
    -oxy-display-tags: none;
}

quote choice corr,
quote choice reg,
text choice corr,
text choice reg,
quote choice expan,
text choice expan {
    font-style: italic;
    background-color: #E8FFDD;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Normalisierte Schreibung]";
}

quote choice corr,
text choice corr {
    -oxy-placeholder-content: "[Korrigierte Schreibung]";
}

quote corr[type="deleted"],
text corr[type="deleted"] {
    content: "[gelöscht]";
    font-style: italic;
    color: green;
}

quote choice abbr,
text choice abbr {
    background-color: #e0e0e0;
}


quote choice expan,
text choice expan {
    background-color: #E8FFDD;
    -oxy-placeholder-content: "[Aufgelöste Schreibung]";
}

quote gap,
quote unclear,
text gap,
text unclear {
    background-color: #FFA100;
    -oxy-display-tags: none;
}

quote gap:after,
quote unclear:after,
text gap:after,
text unclear:after {
    background-color: #FFA100;
}

quote gap,
text gap {
    content: "   ";
}

text damage {
    -oxy-display-tags: none;
    font-style: italic;
}

text damage:empty {
    -oxy-display-tags: none;
    content: "Schadhafte Stelle";
}

text damage:before {
    content: "[";
}

text damage:after {
    content: "]";
}

quote ex,
text ex {
    font-family: "BBAWfont-italic";
    -oxy-display-tags: none;
}

text foreign {
    font-family: "DejaVu Serif";
    font-size: 0.8em;
    -oxy-display-tags: none;
    background-color: #e0e0e0;
}

text hi[rendition="#aq"] {
    font-family: Biolinum;
    -oxy-display-tags: none;
}

/* Vorgedruckte Textteile */
hi[rendition='#mPrint'] {
    -oxy-display-tags: none;
}

hi[rendition='#mPrint'],
p[rendition='#mPrint'],
address[rendition='#mPrint'] {
    font-family: "Biolinum", Helvetica, Arial, Sans;
}


/* Annotation */

abstract seg,
text seg {
    -oxy-display-tags: none;
}

abstract seg orig,
text seg orig {
    background-color: #E8E4D5;
    -oxy-display-tags: none;
}

abstract seg note,
text seg note,
text note[type="sachapparat"] {
    padding-left: 0.5em;
    font-family: "BBAWfont-italic";
    color: #423E2C;
    background-color: #D6D2C2;
    -oxy-placeholder-content: "[Sachanmerkung hier eingeben]";
    -oxy-display-tags: none;
}

text note[type="sachapparat"] {
    display: block;
    margin: 0 0 2em 0;
    padding: 0;    
}

text seg[type="textapparat"] note {
    -oxy-placeholder-content: "[Textanmerkung hier eingeben]";
    -oxy-display-tags: none;
}

text anchor[type="sachapparat"] {
    display: block;
    content: "Sachanmerkung: Start des Bezugstextes";
    color: #423E2C;
    background-color: #D6D2C2;
    -oxy-display-tags: none;
}



/* Indexes */

abstract index,
text index {
    -oxy-display-tags: none;
    line-height: 0.8em;
}

abstract index:before,
text index:before {
    content: url('gfx/index_start.png');
}

abstract anchor[type="index"],
text anchor[type="index"] {
    -oxy-display-tags: none;    
    line-height: 0.8em;
}

abstract anchor[type="index"]:after,
text anchor[type="index"]:after {
    content: url('gfx/index_end.png');
}

abstract index term,
text index term {
    display: none;
}

/* Names */

persName,
orgName,
placeName,
bibl,
rs[type='person'],
rs[type='org'],
rs[type='place'],
rs[type='bibl'],
rs[type='term'] {
    color: #465E7A;
    -oxy-display-tags: none;
} 

witness bibl {
    color: black;
}

witness bibl:after {
    display: none;
}

witness bibl[sameAs]:after {
    display: inline;
}

/* Dates */
text date {
    -oxy-display-tags: none;
}

/*  References */

text ref,
msContents note ref,
notesStmt note ref,
correspDesc note ref {
    -oxy-display-tags: none;
    border-bottom: 1px dashed #00C6FF;
}

text anchor[type="verweisziel"] {
    -oxy-display-tags: none;
}

text anchor[xml|id^="start"]:after {
    content: url('gfx/link_target_start.png');
}

text anchor[xml|id^="stop"]:before {
    content: url('gfx/link_target_stop.png');
}

facsimile {
    display: block;
    border-top: 1px solid silver;
    padding: 1em 0 1em 0;
}
facsimile:before {
    display: block;
    content: "Digitalisate";
    font-weight: bold;
}

address,
addrLine {
    display: block;
}

address:before {
    display: block;
    content: "Adresse:";
    font-style: italic;
}

addrLine {
    -oxy-placeholder-content: "[Adresszeile]";
}

/* Keywords */

profileDesc textClass:before {
    content: "Schlagwörter/Themen: ";
    font-style: normal;
    font-weight: normal;
}

profileDesc textClass keywords,
profileDesc textClass keywords term {
    -oxy-display-tags: none;
}

profileDesc textClass keywords term:after {
    content: " " url('gfx/link.png') ", ";
    link: oxy_url('${ediarum_website_base}', '${ediarum_website_path}${ediarum_website_keyword}') "?id=" attr(key);
}

profileDesc textClass keywords term:last-of-type:after {
    content: " " url('gfx/link.png');
    link: oxy_url('${ediarum_website_base}', '${ediarum_website_path}${ediarum_website_keyword}') "?id=" attr(key);
}

/* revisionDesc */

revisionDesc listChange {
-oxy-foldable : true ;
-oxy-folded : true ;

}

revisionDesc change {
display : block ;
margin-top : 0.4em ;
margin-right : 0 ;
margin-bottom : 0 ;
margin-left : 0 ;
border-bottom-width : 1px ;
border-bottom-style : solid ;
border-bottom-color : rgb(127 , 157 , 185) ;
border-left-width : 1px ;
border-left-style : solid ;
border-left-color : rgb(127 , 157 , 185) ;
border-right-width : 1px ;
border-right-style : solid ;
border-right-color : rgb(127 , 157 , 185) ;
border-top-width : 1px ;
border-top-style : solid ;
border-top-color : rgb(127 , 157 , 185) ;
padding-top : 0.4em ;
padding-right : 0.4em ;
padding-left : 0.4em ;
padding-bottom : 0.4em ;
background-color : white ;
max-width : 50rem ;
-oxy-display-tags : none ;

line-height : 1.4 ;
-oxy-show-placeholder : always ;
-oxy-placeholder-content : "[Kommentar zur Änderung eingeben]" ;
}


revisionDesc[status='draft']:before {
        content:
        "Status: " url('gfx/status_draft.gif')
    }
    
revisionDesc[status='final']:before {
        content:
        "Status: " url('gfx/status_final.gif')
         }
 revisionDesc {
        display: block;
        margin: 1em 0 0.5em 0;
         color : rgb(70 , 94 , 122) ;
    }
 
revisionDesc:after {
        content: oxy_editor(type,button,actionID,revisionDesc);
    }


revisionDesc listChange:before {
                display: block;
               margin: 1em 0 0.5em 0;
               font-family : "BBAWfont-italic" ;     
               
               color : rgb(70 , 94 , 122) ;
    	content: "Bearbeitungshistorie";
    	margin: 0.5em 0 0 0;
    	
    }
    
revisionDesc listChange{  
    -oxy-foldable: true;
	-oxy-folded: true;
	
  }

revisionDesc change {
    -oxy-show-placeholder: always;
    -oxy-placeholder-content: "[Kommentar zur Änderung eingeben]";
    }
revisionDesc change:before {
    	content: oxy_editor(type,datePicker,edit,'@when',format,'yyyy-MM-dd');
    }
 revisionDesc change[who]:before {
    	content: oxy_editor(type,datePicker,edit,'@when',format,'yyyy-MM-dd')
        	     " von " oxy_editor(type,text,edit,'@who',columns,10) " ";
    }


/* Variantenapparat */
text app,
text app lem,
text app rdg{
    -oxy-display-tags: none;
    }
    
text app lem{
    background-color: #ffeeff;
    color: black;
}

text app rdg:before{
    content: " ";
}

text app rdg{
    background-color: #e9ffc0;;
}

text app rdg:nth-child(2n){
    background-color: #eeeecf;
    border-bottom: 2px solid #99999f;
}

text app rdg:after{
    content: " (" oxy_xpath(oxy_concat("string-join(//listWit[@n='textWitnesses']/witness[contains('",attr("wit"),"',@xml:id)]/idno[@type='siglum']/string(), ' ')")) ") " " ";
}

