/* 
Copyright 2011-2018 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.edit.edit.

ediarum.BASE.edit is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE.edit is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE.edit. If not, see <http://www.gnu.org/licenses/>.
*/

@import url("standard.css");

/* nur Abweichungen */

text p seg {
    -oxy-display-tags: none;
}

text p seg[type="comment"] orig {
    background-color: white;
    -oxy-display-tags: none;
}

text p seg[type="comment"] note {
    display: none;
}

text persName:after,
text placeName:after,
text bibl:after {
    display: none;
}

text persName,
text placeName,
text bibl {
    color: black;
    background-color: transparent;
}

text index {
    display: none;
}

text anchor[type="index"] {
    display: none;
}

text index term {
    display: none;
}

text ref {
    border-bottom: none;
}

text ref:after {
    display: none;
}

text anchor[type="verweisziel"] {
    display: none;
}

/*SCHREIBAKT UND SCHREIBER*/
text div[type="writingSession"][hand]:before {
	color: #465E7A;
	content: "Schreibakt 1, Schreiber: Person aus dem Register";
}
text div[type="writingSession"][hand='#addressee']:before{
	color: #465E7A;
	content: "Schreibakt 1, Schreiber: " oxy_xpath(oxy_concat("string-join(//correspAction[@type='received']/persName)")) ;
}
text div[type="writingSession"][hand='#author']:before{
	color: #465E7A;
	content: "Schreibakt 1, Schreiber: " oxy_xpath(oxy_concat("string-join(//correspAction[@type='sent']/persName)")) ;
}
text div[type="writingSession"][hand='#unknown']:before{
	color: #465E7A;
	content: "Schreibakt 1, Schreiber: Unbekannt" ;
}
text div[type="writingSession"][n][hand]:before {
	color: #465E7A;
	content: "Schreibakt " attr(n) ", Schreiber: Person aus dem Register";
}
text div[type="writingSession"][n][hand='#addressee']:before{
	color: #465E7A;
	content: "Schreibakt " attr(n)", Schreiber: " oxy_xpath(oxy_concat("string-join(//correspAction[@type='received']/persName)")) ;
}
text div[type="writingSession"][n][hand='#author']:before{
	color: #465E7A;
	content: "Schreibakt " attr(n)", Schreiber: " oxy_xpath(oxy_concat("string-join(//correspAction[@type='sent']/persName)")) ;
}
text div[type="writingSession"][n][hand='#unknown']:before{
	color: #465E7A;
	content: "Schreibakt " attr(n)", Schreiber: Unbekannt" ;
}

