/* 
Copyright 2013 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.

ediarum.BASE is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE. If not, see <http://www.gnu.org/licenses/>.
*/

@import url("standard.css");

/* nur Abweichungen */

text p seg {
    -oxy-display-tags: none;
}

text p seg[type="comment"] orig {
    background-color: white;
    -oxy-display-tags: none;
}

text p seg[type="comment"] note {
    display: none;
}

text persName:after,
text placeName:after,
text bibl:after {
    display: none;
}

text persName,
text placeName,
text bibl {
    color: black;
    background-color: transparent;
}

text index {
    display: none;
}

text anchor[type="index"] {
    display: none;
}

text index term {
    display: none;
}

text ref {
    border-bottom: none;
}

text ref:after {
    display: none;
}

text anchor[type="verweisziel"] {
    display: none;
}

