/* 
Copyright 2011-2018 Berlin-Brandenburg Academy of Sciences and Humanities

This file is part of ediarum.BASE.edit.edit.

ediarum.BASE.edit is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ediarum.BASE.edit is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE.edit. If not, see <http://www.gnu.org/licenses/>.
*/

@import url("standard.css");

/* nur Abweichungen */

text lb {
    display: none;
}

text g[ref="#typoHyphen"] {
    display: none;
}

text sic {
    display: none;
}

text supplied {
    font-style: normal;
    background-color: white;    
}

text supplied[cert="low"]:before {
    display: none;
}

text surplus {
    text-decoration: none;
    color: black;
}

text corr {
    font-style: normal;
    color: black;
}

text corr[cert="high"]:before {
    display: none;
}

text corr[cert="low"]:before {
    display: none;
}

text corr[cert="low"] {
    color: black;
}

text del {
    display: none;
}

text add {
    color: black;
}

text hi[rendition="#u"] {
    text-decoration: none;
}

text gap,
text unclear {
    background-color: transparent;
}

text gap:after,
text unclear:after {
    background-color: transparent;
}

text gap {
    content: "   ";
}

text abbr {
    display: none;
}

text choice expan {
    font-style: normal;
    background-color: transparent;
}

text ex {
    font-style: normal;
}